
.container-admin{
    display: flex;
    margin-top: 15px;
}
.productList{
    flex: 4;
    padding: 20px;
}
.productListTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.productListButton{
    padding: 5px 7px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    font-weight: bold;
}
.productListItem{
    display: flex;
    align-items: center;
}
.productListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 20px;
    color: burlywood;
}
.productListDelete{
    color: red;
    cursor: pointer;
}