.blogContent{
    font-size: 22px;
    padding: 20px;
}
.blogContent .user{
    text-align: right;
    font-style: italic;
}
.blogContentTitle{
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
}
.blogContentPara{
    text-align: justify;
    font-size: 20px;
}
img{
    width: 100%;
}
.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
.blogContent .blogImage {
    text-align: center;
    font-style: italic;
}
.blogContent .blogImage img {
    max-width: 70%;
    max-height: 70%;
}
.blogContent .img-desc{
    text-align: center;
    font-style: italic;
}