.blogContent{
    font-size: 22px;
    padding: 20px;
}

.blogContentPara{
    text-align: justify;
}
img{
    width: 100%;
}
h2{
    text-align: left;
    font-size: 40px !important;
}
.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }