.list-product-type{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 70px;
    margin-bottom: 80px;
}
@media only screen and (min-width: 46.25em) and (max-width: 64em) {
    .list-product-type{
        grid-template-columns: 1fr 1fr;
        row-gap: 60px;
    }
 }
 @media only screen and (max-width: 46.1875em)
{
    .list-product-type{
        grid-template-columns: 1fr 1fr;
        row-gap: 90px;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}