
.grid-five-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.3fr;
    text-align: center;
    align-items: center;
  }

.btn-quantity {
    font-size: 25px;
     padding: 15px;
    margin-left: -30px;
    cursor: pointer;
}

.cart-image-name {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 0.4fr 1fr;
    text-transform: capitalize;
    text-align: left;

    .color-div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.3rem;

      .color-style {
        width: 1rem;
        height: 1rem;
        margin-bottom: 16px;
        border-radius: 50%;
        border: #000 1px solid;
      }

    }
}

img {
    object-fit: contain;
    color: transparent;
  }

.color-div span {
    margin-bottom: 16px;
}

.cart-item {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

.cart-heading {
    text-align: center;
    text-transform: uppercase;
}

.delete-btn {
    color: #ff0000;
    cursor: pointer;
}


.cart-two-button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
.btn-pay {
    padding: 15px;
    background-color: #47474c;
    color: #fff;
    border: none;
}
.btn-pay:hover {
    background-color: #000;
}

.btn-clear {
    padding: 15px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
}

.btn-clear:hover {
    background-color: #ff0000;
}
.cartForMobile{
  display: none;
  border-radius: 4px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}
.cartItemInfor{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.cartItemTotal{
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.cartItem-Mobile img{
  width: 100px;
  height: 100px;
}
.cartItemPriceTotal{
  margin-top: 8px;
}
.cartForMobile span{
  font-style: italic;
  color: #ccc;
}

@media only screen and (min-width: 46.25em) and (max-width: 64.2em) {

}
@media only screen and (max-width: 46.1875em)
{
  .cartForPC{
    display: none;
  }
  .cartForMobile{
    display: block;
  }
  .main-container {
    width: 95% !important;
  }

}