.typeProductList{
    flex: 4;
}
.typeProductListAdd{
    color: #3bb077;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    background: none;
}
.typeProductListEdit{
    color: burlywood;
    cursor: pointer;
    margin-right: 10px;
    border: none;
    background: none;
}
.typeProductListDelete{
    color: red;
    cursor: pointer;
    margin-right: 10px;
    background: none;
}
.typeProductList .btn-primary{
    background: none;
    border: none;
}