
.product-detail{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 0 16px;
}
.product-detail-left img{
    height: 500px;
    width: 400px;
}
.product-detail-right{
    text-align: left;
}
.product-detail-right h2{
    padding: 16px 0;
    font-size: 20px;
}
.product-detail-right p{
    padding: 16px 0;
    font-size: 14px;
}
.quantity-product p{
    display: contents;
}
.quantity-product input{
    margin-left: 16px;
}
.product-detail-right .addcart button{
    padding: 8px 49px;
    margin-top: 30px;
    background-color: #47474c;
    color: white;
    position: relative;
}
.product-detail-right .addcart button:hover{
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
    background-color: #000;
    transition: 0,3s linear;
}
.product-detail-right .addcart img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.product-detail-right .addcart .like-icon{

    width: 40px;
    height: 40px;
    border: 1px solid rgba(112, 112, 112, 0.3);
    margin-left: 16px;
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    transition: 0.3s ease;
}
.product-detail-right .addcart .like-icon:hover{
    animation: bigbabol 0.5s linear;
    border: 1px solid #000;
}
.accordion-header button{
    font-size: 20px;
    font-weight:500;    
    padding: 0;
}

.related-product p{
    font-size: 1.6rem;
    font-family: "SVN-Futura Medium", sans-serif;
    text-transform: uppercase;
    text-align: center;
}