.loginForm {
    background-color: #ccc;
    width: 25%;
    height: auto;
    display: block;
    border: solid 2px black;
    border-radius: 30px;
}
.loginForm h3 {
    padding: 24px;
    margin: 0;
}
.loginForm p:last-child {
    margin: 0;
}
.loginForm form input {
    display: block;
    width: 80%;
    margin: auto;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 25px;
    border: 0;
}
.loginForm form button {
    background-color: #5A82E7;
    color: white;
    border-radius:25px ;
    padding: 10px 0;
    margin-top: 15px;
}
.loginForm-icon {
display: flex;
justify-content: space-evenly;    
padding-left: 20px;
padding-right: 20px;
margin-bottom: 15px;
}
.loginForm-icon button {
    display: flex;
    align-items: center;

}
.loginForm-icon button img {
    padding: 8px;
    justify-content: center;
}

.loginmain {
    display: flex;
    justify-content: space-evenly;
    background-color: #ccc;
    height: 70vh;
    align-items: center;
    margin-top: 70px;
}
.logo {
    width: 20vw;
    height: 20vw;
    border: 1px solid transparent;
    border-radius: 10%;
}

.loginmain button {
    border: 0;
    width: 150px;
    height: auto;
    justify-content: center;
}
.loginmain a {
    color: darkblue;
}
.logomain p {
    font-weight: 1000;
    font-size: 80px;
    margin: 0px;
    color: darkblue;
}
.fb-and-gg{
    display: inline-flex;
    padding: 15px 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 15px;
}
.fb-and-gg img{
    width: 20px;
    height: 20px;
    margin: 0 24px;
}
.fb-and-gg img:hover{
    cursor: pointer;
}
.fb-and-gg p{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.loginForm p{
    margin: 16px 0;
    font-weight: 600;
}
@media only screen and (min-width: 46.25em) and (max-width: 64.2em) {
    .loginmain {
        background-color: #fff;
        display: block;
        text-align: -webkit-center;
        margin: 90px 0 20px 0;
        height: auto;
    }
    .logomain{
        display: none;
    }
    .loginForm{
        background-color: #fff;
        width: 60%;
        height: 100%;
    }
    .loginForm form input{
        border-bottom:1px solid #ccc ;
    }
    .loginForm p:last-child{
        font-size: 18px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 46.1875em){
    .loginmain {
        background-color: #fff;
        display: block;
        text-align: -webkit-center;
        margin: 90px 0 20px 0;
        height: auto;
    }
    .logomain{
        display: none;
    }
    .loginForm{
        background-color: #fff;
        width: 70%;
        height: 100%;
    }
    .loginForm h3{
        font-size: 20px;
    }
    .loginForm form input{
        border-bottom:1px solid #ccc ;
    }
    .loginForm p:last-child{
        font-size: 16px;
        margin-bottom: 15px;
    }
}